@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>@title</title>

        @import play.api.Play.current
        @import play.api.Mode
        @if(current.mode == Mode.Dev) {
            <link rel="stylesheet" href="@routes.Assets.at("css/app.css")">
            <script type='text/javascript' src='@routes.Assets.at("javascripts/ionic.bundle.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("javascripts/angular-locale_sk-sk.js")'></script>

            <script type='text/javascript' src='@routes.Assets.at("js/app.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/services.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/controllers.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/filters.js")'></script>

        }
        @if(current.mode == Mode.Prod) {
            <link rel="stylesheet" href="@routes.Assets.at("css/app.min.css")">
            <script type='text/javascript' src='@routes.Assets.at("javascripts/ionic.bundle.min.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("javascripts/angular-locale_sk-sk.js")'></script>

            <script type='text/javascript' src='@routes.Assets.at("js/app.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/services.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/controllers.js")'></script>
            <script type='text/javascript' src='@routes.Assets.at("js/filters.js")'></script>
        }
    </head>

    <!--
        'starter' is the name of this angular module (js/app.js)
    -->
    <body ng-app="starter" animation="slide-left-right-ios7">
        @content
    </body>
</html>
